<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em node.js e Express.js</title>
</head>
<body>
    <h1>Hello, world!</h1>
    <p>Seja bem-vindo ao meu primeiro site em node.js e Express.js</p>
    <hr>
    <a href="/perfil">Ir para o menu de perfil</a>
    <hr>
    <a href="/clientes">Ir para o menu de CLientes</a>
    <hr>
    <a href="/servicos">Ir para o menu de servicos</a>
    <hr>
    <a href="/produtos">Ir para o menu de produtos</a>
</body>
</html>